name: run test

on: push

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: set up
        uses: actions/setup-go@v2
        with:
          go-version: ^1.18
        id: go
      - name: check out
        uses: actions/checkout@v2
  test:
    needs: setup
    runs-on: ubuntu-latest
    services:
      db:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: test_onboard_2_db
          MYSQL_USER: onboard_user
          MYSQL_PASSWORD: Ve9RgxBbkNAKQKvVVA!HVgJK
        options: >-
          --health-cmd "mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - name: test
        run: HOST_NAME=localhost PORT=3306 DB_USER_NAME=$MYSQL_USER DB_PASSWORD=$MYSQL_PASSWORD TEST_DB_NAME=$MYSQL_DATABASE go test -v ./...