name: Test Script

on: push

jobs:
  go_run_test:
    runs-on: ubuntu-latest
    steps:
      - name: go mod
        run: go mod init github.com/kod-source/test_github_actions
      - name: go mod tidy
        run: go mod tidy
      - name: go get
        run: go get github.com/kod-source/test_github_actions/hello
      - name: go test -v
        run: go test -v github.com/kod-source/test_github_actions/hello