name: Test Script

on: push

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: set up
        uses: actions/setup-go@v2
        with:
          go-version: ^1.18
        id: go
      - name: check out
        uses: actions/checkout@v2
  test:
    needs: setup
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: test
        run: go test -v github.com/kod-source/test_github_actions/hello
